body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

#boy {
  color: #DF711B;
  font-weight: normal;
}

.mountain {
  margin-bottom: 0
}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 50px
}

.bottom-cloud {
  position: fixed;
  left: 100px;
  top:300px;
}
.mountain1{
  position: fixed;
  right:120px;
  
  scroll-behavior:auto;
}

h1 {
  font-size: 5.625rem;
  /*90px*/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  /*40px*/
  font-family: 'Montserrat', sans-serif;
  color: #003638;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.my-pic {}

.language {
  font-size: 1.5rem;
}

.top-container {
  background-color: #F1ECC3;
  position: relative;
  padding-top: 100px;
  width:100%;
}

.middle-container {
  background-color: #C9D8B6;
  position: relative;
  padding-bottom: 20px;
  width:100%;
}

.language-container {
  background-color: #5D8233;
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
  width:100%;
}

#Sprachen {
  color: black;
}

.hobby-container {
  position: relative;
  background-color: #57837B;
  width:100%;
}

.video {

  min-width: 95%;
  min-height: 50%;
  width: 100%;
  height: auto;
  opacity: 0.75;
}
.hobby {
  background-color:;
  position: absolute;
  top:0;
  width: 100%;

opacity: 0.75;

}
#hobby {

  text-align: center;
  margin-top: 120px;
  font-family:'Montserrat', sans-serif;
  color: black;
}

.bottom-container {
  background-color: #57837B;
  opacity: 0.65;
  position: absolute;
  bottom:0;
  width: 100%;
}
.contact-me {
  padding: 20px;
}
.footer-link {
  padding: 20px
}
.BUTTON_RVI {
   background: #1B8D22;
   background-image: -webkit-linear-gradient(top, #1B8D22, #1E62D0);
   background-image: -moz-linear-gradient(top, #1B8D22, #1E62D0);
   background-image: -ms-linear-gradient(top, #1B8D22, #1E62D0);
   background-image: -o-linear-gradient(top, #1B8D22, #1E62D0);
   background-image: -webkit-gradient(to bottom, #1B8D22, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #23F0F5;
   font-family:'Merriweather', serif;
   width: 203px;
   font-size: 30px;
   font-weight: 100;
   padding: 12px;
   -webkit-box-shadow: -2px 1px 20px 0 #000000;
   -moz-box-shadow: -2px 1px 20px 0 #000000;
   box-shadow: -2px 1px 20px 0 #000000;
   text-shadow: -13px 1px 28px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_RVI:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3DF651);
   background-image: -moz-linear-gradient(top, #1E62D0, #3DF651);
   background-image: -ms-linear-gradient(top, #1E62D0, #3DF651);
   background-image: -o-linear-gradient(top, #1E62D0, #3DF651);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3DF651);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;

}



